{% extends "tc/base.html" %}
{% load staticfiles %}

{% block content %}

<a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                
                    <div class="intro-message">
                        <h1>桐城刻章网</h1>
                        <h3>桐城激光印章</h3>
                        <h3>公安局印章指定制作单位</h3>
                        <h4>地址：桐城市龙眠中路大名鞋业后巷，人民财产保险公司对面</h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1279384663&amp;site=qq&amp;menu=yes" class="qs1 btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">QQ:412802394</span></a>
                            </li>
                            <li>
                                <a href="tel:13966915839" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">微信:13966915839</span></a>
                            </li>
                            <li>
                                <a href="tel:13966915839" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">电话:13966915839</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">公司印章:<br></h2>
                    <p class="lead">  公司公章，财务专用章，合同专用章，发票专用章，法人名章，报关专用章 </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'tc/img/ipad.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">企业等日常办公用章<br></h2>
                    <p class="lead">签名章，人名章，拼字章，数字印</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'tc/img/dog.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">已注册企业更换公章<br></h2>
                    <p class="lead">
                        1.公章长期使用磨损需要更换 <br>
                        2.公章丢失需要重新刻制
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'tc/img/phones.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>联系方式：</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1279384663&amp;site=qq&amp;menu=yes" class="qs1 btn btn-default btn-lg" style="margin: 2px"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">qq:412802394</span></a>
                        </li> <br/>
                        <li>
                            <a href="tel:13966915839" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name" style="margin-top: 2px">微信:13966915839</span></a>
                        </li><br/>
                        <li>
                            <a href="tel:13966915839" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name" style="margin-top: 2px">电话:13966915839</span></a>
                        </li>
                        <li>
<!-- <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1279384663&amp;site=qq&amp;menu=yes" class="qs1"> 1279384663 </a> -->
<!-- <a href="tencent://message/?uin=741123372&Site=在线QQ&amp;Menu=yes" > 741123372  </a> -->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

{% endblock %}


